@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --fonte4: Open Sans, roboto;
    --bc-font:1.0em;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: var(--bc-font);
    }
    
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 25px;
       }
       .embed-container iframe, .embed-container object, .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       }
       
.vd{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vd iframe{
    width: 400%;
    height: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 100px;
}
.titulo p{
 font-size: 15px;
}

.titulo h1 {
    font-size: 80px;
}
/* iframe {
    margin-left: 100px;
    margin-bottom: 100px;
} */

svg {
    margin-bottom: -10px;
}

html, body {
    min-height: 100vh;
    background-color: black;
    font-family: var(--fonte4);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte4);
    font-size: var(--bc-font);
}
header > p {
    padding-bottom: 50px;
    text-align: justify;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

headera, footer a {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte4);
    font-size: var(--bc-font);
}

.text p {
    padding-bottom: 2em;
    font-size: 1em;
}

.text {
    background-color: black;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px

}

@media (min-width: 425px) {
    section {
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
        font-family: var(--fonte4);
        font-size: 1.5vw;
    }

}

     iframe {
        aspect-ratio: box;
        width: 90px;
    }

    @media (max-width: 370px){
        /* .vd{
         max-width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
        }
        .vd iframe{
         width: 300%;
         height: 300px;
         border: 2px solid #fff;
         border-radius: 20px;
         margin-bottom: 20px;
         margin-left: 0;
         margin-right: 0;
        }
        header{
         font-size: var(--bc-font);
        } */
    }
