@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --fonte4: Open Sans, roboto;
    --bc-font:1.0em;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: var(--bc-font);
    }

iframe {
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.titulo p{
 font-size: 15px;
}

.titulo h1 {
    font-size: 80px;
}
/* iframe {
    margin-left: 100px;
    margin-bottom: 100px;
} */

svg {
    margin-bottom: -10px;
}

html, body {
    min-height: 100vh;
    background-color: black;
    font-family: var(--fonte4);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte4);
    font-size: var(--bc-font);
}
header > p {
    padding-bottom: 50px;
    text-align: justify;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

headera, footer a {
    text-decoration: underline;
}

section {
    padding-bottom: 10vh;
    line-height: 2em;
    margin-left: 25px;
    font-family: var(--fonte4);
    font-size: var(--bc-font);
}

.text p {
    padding-bottom: 2em;
    font-size: 1em;
}

.text {
    background-color: black;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px

}

@media (max-width: 1000px) {
    section {
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
        font-family: var(--fonte4);
        font-size: 1.5vw;
    }

    iframe {
        max-width: 60%;
        max-height: 300px;
        margin-left: 80px;
    }

}